
:root {
  --color-ndb-Madison: #0e246a;
  --color-ndb-BlackPearl: #03246a;
  --color-ndb-Cobalt: #003eb0;
  --color-ndb-Malibu: #7eccff;
  --color-ndb-Sail: #b9e5fb;
  --color-ndb-Denim: #1663bf;
  --color-ndb-White: #ffffff;
  --color-ndb-Mercury: #e3e3e3;
  --color-ndb-Gray: #8a8a8a;
  --color-ndb-Black: #000000;
  --font-titulos: "Satoshi", sans-serif;
  --font-texto: "Satoshi", sans-serif;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-size86: 5.5rem;
  --font-size60: 4rem;
  --font-size36: 2.5rem;
  --font-size20: 1.3rem;
}

body, html {
   margin: 0;
   padding: 0;
   height: 100%;
   font-family: 'Satoshi', sans-serif;
   overflow: hidden;
 }

.bg-video {
   position: fixed;
   top: 0;
   left: 0;
   min-width: 100%;
   min-height: 100%;
   object-fit: cover;
   z-index: -1;
}

.wasap {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  z-index: 10000;
  visibility: visible;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 100;
}

.font-title {
  font-family: 'Satoshi', sans-serif;
}
.subtitulo{
  font-size: 2rem;
}

.font-subtitle {
  font-family: 'Satoshi', sans-serif;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:var(--color-ndb-BlackPearl); /* o el color que combine con tu marca */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#preloader img {
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  animation: animate-preloader 4s linear infinite;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(14, 36, 106, 0.65),
    rgba(0, 0, 0, 0.6)
  ); /* de Madison a negro */
  z-index: 1; /* entre el video y el contenido */
  pointer-events: none;
}