/* 1. Carga de fuentes */
@font-face {
  font-family: "Satoshi";
  src: url("assets/fonts/satoshi/Satoshi-Light.woff2") format("woff2"),
    url("assets/fonts/satoshi/Satoshi-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("assets/fonts/satoshi/Satoshi-Regular.woff2") format("woff2"),
    url("assets/fonts/satoshi/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("assets/fonts/satoshi/Satoshi-Medium.woff2") format("woff2"),
    url("assets/fonts/satoshi/Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("assets/fonts/satoshi/Satoshi-Bold.woff2") format("woff2"),
    url("assets/fonts/satoshi/Satoshi-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-ndb-Madison: #0e246a;
  --color-ndb-BlackPearl: #071335;
  --color-ndb-Cobalt: #003eb0;
  --color-ndb-Malibu: #7eccff;
  --color-ndb-Sail: #b9e5fb;
  --color-ndb-Denim: #1663bf;
  --color-ndb-White: #ffffff;
  --color-ndb-Mercury: #e3e3e3;
  --color-ndb-Gray: #8a8a8a;
  --color-ndb-Black: #000000;
  --font-titulos: "Satoshi", sans-serif;
  --font-texto: "Satoshi", sans-serif;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-size86: 5.5rem;
  --font-size60: 4rem;
  --font-size36: 2.5rem;
  --font-size20: 1.3rem;
}

/* 86pt */
h1 {
  font-size: var(--font-size86);
}
/* 60pt */
h2 {
  font-size: var(--font-size60);
}
/* 36pt */
h3 {
  font-size: var(--font-size36);
}
/* 20pt */
h4 {
  font-size: var(--font-size20);
}
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ------ General ------ */
html,
body {
  min-width: 325px;
  overflow-x: auto;
}

body {
  background-color: var(--color-ndb-Mercury);
  font-family: var(--font-texto);
  line-height: 1.6;
  padding-top: 100px; /* ajuste para header fijo */
  color: var(--color-ndb-Madison);
}

.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 1rem;
}

h1,
h2,
h3,
.frase-buscador h2,
.frase-buscador p {
  font-family: var(--font-titulos);
} /* ------ Header ------ */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: var(--color-ndb-White);
  padding: 1rem 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg);
    transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* Animación fade-in */
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
.wasap {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  z-index: 10000;
  visibility: visible;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 100;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-ndb-Black); /* o el color que combine con tu marca */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#preloader img {
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  animation: animate-preloader 4s linear infinite;
}

/* Footer */
.footer {
  background-color: var(--color-ndb-White);
  color: var(--color-ndb-Madison);
  text-align: center;
  padding: 2rem 1rem;
}

.footer .redes {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footer .redes a {
  color: var(--color-ndb-Madison);
  font-size: var(--font-size20);
  transition: color 0.3s ease;
}

.footer .redes a:hover {
  color: var(--color-ndb-Malibu);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  gap: 2rem;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1 1 30%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
}
.footer-left {
  align-items: center;
  align-content: center;
}

.footer-center {
  align-items: flex-end;
  align-content: flex-end;
}

.footer-logo {
  width: 250px;
  height: auto;
}

.footer-center h4 {
  margin-bottom: 0.5rem;
  font-weight: var(--font-light);
}

.footer-center p,
.footer-center a {
  font-size: 1rem;
  margin: 0.2rem 0;
  color: var(--color-ndb-Madison);
  text-decoration: none;
}

.footer-center a:hover {
  text-decoration: underline;
}

.footer-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.2rem;
}

.footer-right li {
  margin: 0.5rem 0;
}

.footer-right a {
  text-decoration: none;
  font-weight: var(--font-regular);
}

.footer-right a:hover {
  text-decoration: underline;
}

.footer-menu {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease;
  position: absolute;
  bottom: 100%;
  right: 0;
  background-color: var(--color-ndb-Mercury);
  padding: 1rem;
  border-radius: 5px;
  flex-direction: column;
  width: 200px;
  z-index: 10;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

/* Cuando se activa */
.footer-menu.active {
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: auto;
  visibility: visible;
}

.footer-menu-toggle {
  display: none;
  background: none;
  border: none;
  color: var(--color-ndb-Madison);
  font-size: var(--font-size36);
  cursor: pointer;
}

.footer-menu-toggle i {
  transition: transform 0.4s ease, color 0.4s ease;
}

/* Cuando el menú está activo, rotamos el ícono */
.footer-menu.active ~ .footer-menu-toggle i {
  transform: rotate(90deg);
}

/* Responsive para móviles */
@media (max-width: 768px) {
   /* NAV MOBILE */
  .nav {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-ndb-Mercury);
    flex-direction: column;
    padding: 1rem 0;
    display: none;
    text-align: center;
    gap: 1.5rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 25px 25px;
  }

  .nav.active {
    display: flex;
  }

  .nav li {
    margin: 0;
  }

  .nav li a {
    color: var(--color-ndb-Black) !important;
    font-weight: var(--font-light);
    font-size: var(--font-size20);
  }

  /* FOOTER MOBILE */
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-center {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-right {
    order: 3;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    flex: 1 1 100%;
  }

  .footer-right a {
    font-size: 1.1rem;
    padding: 0.5rem 0;
    display: block;
  }

  .footer-menu-toggle {
    display: block;
    margin-top: 1rem;
  }

  /* FOOTER MENU FULL WIDTH */
  .footer-menu {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-ndb-Mercury);
    padding: 1rem 0;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.4s ease;
    border-radius: 0 0 8px 8px;
    z-index: 20;
    text-align: center;
  }

  .footer-menu.active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    border-radius: 25px;
    align-items: center;
  }

  .footer-menu a {
    color: var(--color-ndb-Madison);
    font-weight: var(--font-regular);
    font-size: 1rem;
  }

  .footer-menu a:hover {
    color: var(--color-ndb-Madison);
    font-weight: var(--font-medium);
    font-size: 1.1rem;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-color: var(--color-ndb-Malibu);
    text-decoration-thickness: 1.5px;
  }
}

/* Cuando el menú esté activo, rotamos el ícono */
.nav.active ~ .menu-toggle i {
  transform: rotate(90deg);
}
/* Botón Hamburguesa */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: var(--color-ndb-Madison);
  font-size: var(--font-size36);
  cursor: pointer;
}

.menu-toggle i {
  transition: transform 0.4s ease, color 0.4s ease;
}

/* Botón Tasá tu inmueble */
.tasa-btn {
  display: inline-block; /* necesario fuera del menú */
  background-color: var(--color-ndb-Malibu);
  color: var(--color-ndb-BlackPearl);
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  border: none;
  font-weight: var(--font-medium) !important;
  font-size: 1rem;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tasa-btn:hover {
  background-color: var(--color-ndb-Denim);
  color: var(--color-ndb-White) !important;
  text-decoration: none !important;
}

/* Navegación */
.nav-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav li a {
  color: var(--color-ndb-Madison);
  text-decoration: none;
  font-size: 1rem;
  font-weight: var(--font-regular);
}

.nav a:hover {
  color: var(--color-ndb-Madison);
  font-weight: var(--font-medium);
  text-decoration: underline;
  font-size: 1.1rem;
  text-underline-offset: 15px;
  text-decoration-color: var(--color-ndb-Malibu);
  text-decoration-thickness: 1.5px;
}

/* Logo */
.logo img {
  height: auto;
  width: 200px;
  display: block;
}

/* Contenedor general */
.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 1rem;
}
.containers {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Header */
/* .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  background-color: rgb(23, 23, 23);
  color: #fff;
  padding: 1rem 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
} */

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
/* Responsive */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--color-ndb-Mercury);
    flex-direction: column;
    padding: 1rem;
    display: none;
  }

  .nav li {
    margin: 0.5rem 0;
  }

  .nav li a {
    color: var(--color-ndb-Madison) !important;
  }

  .card {
    max-width: 90%;
  }
  .footer-right .tasa-btn {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    text-align: center;
  }
}

/* Desktop > El menú siempre visible */
@media (min-width: 769px) {
  .footer-menu {
    position: static;
    opacity: 1;
    transform: none;
    pointer-events: auto;
    visibility: visible;
    background: none;
    padding: 0;
    width: auto;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    color: white;
    box-shadow: none;
  }

  .footer-menu a {
    color: var(--color-ndb-Madison);
  }
  .footer-menu a:hover {
    color: var(--color-ndb-Madison);
    font-weight: var(--font-medium);
    font-size: 1.1rem;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-color: var(--color-ndb-Malibu);
    text-decoration-thickness: 1.5px;
  }

  .footer-menu-toggle {
    display: none;
  }
}
/* Propiedades sección */
.propiedades {
  padding: 2rem 0;
}

.propiedades h2 {
  text-align: center;
  font-size: var(--font-size36);
  margin-bottom: 2rem;
  font-weight: var(--font-light);
}

.propiedades h3 {
  text-align: left;
  font-size: var(--font-size20);
  margin-bottom: 2rem;
  font-weight: var(--font-medium);
}

/* Swiper general de propiedades */
.myMainSwiper {
  position: relative;
}

.swiper-wrapper {
  display: flex;
}

/* Cada propiedad como una card */
.swiper-slide {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

/* Card */
.card {
  background-color: #e3e3e3;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

/* Mini Swiper de imágenes dentro de cada card */
.mySwiper {
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.mySwiper img {
  width: 100%;
  height: 100%;
 
}

/* Información de cada propiedad */
.card h3 {
  margin: 1rem;
}

.card p {
  margin: 0 1rem 1rem;
  color: var(--color-ndb-Madison);
  font-weight: var(--font-regular);
}

/* Swiper flechas y bullets */
.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-size: 30px;
  color: white !important;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: var(--font-size20);
}

.swiper-pagination-bullet {
  background: white;
}

.card-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #000; /* Fondo negro */
  color: white;
  padding: 0.3rem 0.7rem;
  font-size: 1rem;
  font-weight: var(--font-light);
  text-transform: uppercase;
  border-radius: 5px;
  z-index: 10;
  opacity: 0.85;
}

.iconos-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 1rem 1rem;
  font-size: var(--font-size20);
  color: var(--color-ndb-Gray);
}

.iconos-card i {
  margin-right: 0.3rem;
  color: var(
    --color-ndb-Gray
  ); /* mismo verde que el botón, o poné #0099cc si querés */
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.500);
  z-index: 1; /* entre el video y el contenido */
  pointer-events: none;
}
.slider-inner {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
